<div class="register__row2">
  <label id="labelPic">Upload Picture:</label><br />
  <input type="file" name="profilePic" class="profile-pic-holder filepond" />
</div>

<div class="register__row">
  <input
    type="tel"
    class="register__input"
    name="phone"
    value="<%=req.body.phone %>"
    placeholder="Phone Number"
  />
</div>

<div class="register__row">
  <input
    type="password"
    name="password"
    class="register__input pass"
    placeholder="Password"
    value="<%=req.body.password %>"
  />
</div>

<div class="register__row">
  <input
    type="text"
    class="register__input"
    name="firstName"
    placeholder="First Name"
    value="<%=req.body.firstName %>"
  />
</div>

<div class="register__row">
  <input
    type="text"
    class="register__input"
    name="lastName"
    value="<%=req.body.lastName %>"
    placeholder="Last Name"
  />
</div>

<div class="register__row">
  <input
    type="text"
    class="register__input"
    name="address"
    value="<%=req.body.address %>"
    placeholder="Address"
  />
</div>

<div class="register__row3">
  <label id="helpLbl">Desired Help Date</label>
  <input
    type="date"
    class="register__input"
    name="preferredDate"
    value="<%= req.body.preferredDate %>"
  />
</div>

<div class="register__row4">
  <label id="helpLbl">Desired Help Description</label>
  <textarea class="register__input" name="helpDesired" id="txtArea">
<%= req.body.helpDesired %></textarea
  >
  <input type="hidden" id="role" name="role" value="H" />
</div>
